/* color var */
:root {
  --c1: #ff4d00;
  --c2: #ff601c;
  --c3: #232222;
  --c4: #575757;
  --c5: #ff6e56;
  --sect_bg: #fae3e1;
  --fuschia: #ff4d00;

  --button-text-color: #fff;
  --baby-blue: #f8faff;
}
/* #5F0000
#DFE0DF */
/* color var */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  background: url(../images/bg.jpg) no-repeat fixed;
  background-size: cover;
  scroll-behavior: smooth;
}
.title {
  text-align: center;
  margin-bottom: 80px;
}
.title h2 {
  font-size: 5em;
  font-weight: 700;
  color: var(--c3);
}
.title h2 span {
  color: var(--c1);
}
.title hr {
  width: 30%;
  border-top: 10px dotted var(--c1);
  margin: 0 auto;
}

/* navbar */
nav {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 10;

  /* box-shadow: 0 -1px 4px 1px #232222; */
}
.sticky {
  position: fixed;
  padding: 15px 0;
  top: 0;
  background: #fdfdfd;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 65%);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.logo img {
  width: 100%;
}
.menu i {
  display: none;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
}
.menu ul li {
  margin-left: 25px;
}
.menu ul li:first-child {
  margin-left: 0;
}
.menu ul li a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: var(--c2);
  position: relative;
  cursor: pointer;
}
.menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--c1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: -1;
}
.menu ul li a:hover::after {
  width: 100%;
  box-shadow: 0px -14px 20px 7px white;
}
nav .n_btn .nav_btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 25px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--fuschia);
  color: #fff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 2px 3px 3px 0px rgb(0 0 0 / 65%);
  -webkit-transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  -moz-transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  -ms-transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  -o-transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  animation: hero-btn 2s ease infinite;
  -webkit-animation: nav-btn 2s ease infinite;
}
@keyframes nav-btn {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
nav .n_btn .nav_btn:focus {
  outline: 0;
}
nav .n_btn .nav_btn:before,
nav .n_btn .nav_btn:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
nav .n_btn .nav_btn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 20%,
      var(--fuschia) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--fuschia) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
nav .n_btn .nav_btn:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--fuschia) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%),
    radial-gradient(circle, var(--fuschia) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
nav .n_btn .nav_btn:active {
  transform: scale(0.9);
  background-color: var(--fuschia);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

nav .n_btn .nav_btn.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
nav .n_btn .nav_btn.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* banner */
#hero_section {
  width: 100%;
  height: 100vh;
  padding: 4% 0;
  background: #ffe5d2;
  position: relative;
  overflow: hidden;
}
#particleJs {
  width: 100%;
  height: 100vh;
}
#hero_section svg {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
}

#hero_section .pm {
  position: absolute;
  width: 465px;
  height: 380px;
  padding: 15px;
  background: rgba(223, 104, 18, 0.5);
  box-shadow: -11px 20px 32px 9px rgb(223 104 18 / 44%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(223, 104, 18, 0.18);
  top: 50%;
  transform: translate(140%, -58%) scale(0);
  z-index: 2;
  transition: all 0.5s;
  animation: pm 1.5s cubic-bezier(0.4, 0, 1, 1) 5s forwards;
  -webkit-animation: pm 1.5s cubic-bezier(0.4, 0, 1, 1) 5s forwards;
}
@keyframes pm {
  100% {
    transform: translate(10%, -40%);
    z-index: 4;
  }
}
#hero_section .pm::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  top: 60%;
  right: 40%;
  background: rgba(223, 104, 18, 0.5);
  z-index: -1;
}
#hero_section .pm::after {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  top: 20%;
  left: 70%;
  background: rgba(223, 104, 18, 0.5);
  z-index: -1;
  -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
#hero_section .pm::after,
::before {
  animation: bef 5s ease-in-out infinite;
}
@keyframes bef {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(-4px, -2px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
#hero_section .pm img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: -9%;
  transform: translateY(-50%);
}
#hero_section .pm .hero {
  width: 63%;
  margin-left: auto;
}
#hero_section .pm .hero .txt {
  position: absolute;
  bottom: 40px;
  z-index: 999;
}
#hero_section .pm h1 {
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
}

#hero_section .pm .hero p {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 10px;
  color: #ffffff;
}
#hero_section .pm .hero .hero_btn {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background: var(--c1);
  font-size: 18px;
  padding: 8px 0px;
  margin-left: 10px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
#hero_section .pm .hero .effect-2 {
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}
#hero_section .pm .hero .effect-2:before {
  content: "";
  font-family: FontAwesome;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -40px;
  width: 30px;
  height: 100%;
  background-color: #ffffff57;
  border-radius: 0px 6px 6px 0px;
  transition: all 0.2s ease 0s;
  text-align: center;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  animation: none;
  -webkit-animation: none;
}
#hero_section .pm .hero .effect-2:hover {
  text-indent: -30px;
}
#hero_section .pm .hero .effect-2:hover:before {
  right: 0;
  text-indent: 0px;
}

#hero_section .side_img {
  display: none;
}
#hero_section .background {
  width: 100%;
  /* height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

#hero_section .heroV img {
  width: 300px;
  position: absolute;
  bottom: -100%;
  right: 25px;
  z-index: 6;
  overflow: hidden;
  animation: heroV 2s ease-out 3s forwards;
}
@keyframes heroV {
  100% {
    bottom: 0;
  }
}
/* #hero_section .heroV img {
  width: 80%;
} */

/* animation */
/* #hero_section svg {
  width: 100%;
} */

#hero_section svg #p1 {
  transform: rotate(-9deg) skew(-9deg, 34deg) translate(-23px, -45px)
    scale(1.035, 1.08);
  transform-origin: center;
  transform-box: fill-box;
  transition: 0.9s;
  animation: p1 0.9s ease-in-out 5s forwards;
  -webkit-animation: p1 0.9s ease-in-out 5s forwards;
}
#hero_section .background .cover {
  width: 387px;
  height: 508px;
  position: absolute;
  right: 123px;
  top: 106px;
}
#hero_section .background .cover img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transform: rotate(-9deg) skew(-9deg, 34deg) translate(-23px, -37px)
    scale(1, 1.05);
  animation: p1 0.9s ease-in-out 5s forwards;
  -webkit-animation: p1 0.9s ease-in-out 5s forwards;
}
@keyframes p1 {
  100% {
    transform: rotate(0) skew(0) translate(0) scale(1);
    transform-origin: center;
    transform-box: fill-box;
  }
}
#hero_section svg #p2 {
  transform: rotate(-9deg) skew(-9deg, 34deg) translate(-9px, -45px)
    scale(1.035, 1.08);
  transform-origin: center;
  transform-box: fill-box;
  transition: 0.8s;
  animation: p2 0.9s ease-in-out 5.2s forwards;
  -webkit-animation: p2 0.9s ease-in-out 5.2s forwards;
}
@keyframes p2 {
  100% {
    transform: rotate(0) skew(0) translate(0) scale(1);
    transform-origin: center;
    transform-box: fill-box;
  }
}

#hero_section svg #p3 {
  transform: rotate(-7deg) skew(-6deg, 25deg) translate(6px, -38px)
    scale(1.035, 1);
  transform-origin: center;
  transform-box: fill-box;
  transition: 0.7s;
  animation: p3 0.9s ease-in-out 5.4s forwards;
  -webkit-animation: p3 0.9s ease-in-out 5.4s forwards;
}
@keyframes p3 {
  100% {
    transform: rotate(0) skew(0) translate(0) scale(1);
    transform-origin: center;
    transform-box: fill-box;
  }
}

#hero_section svg #p4 {
  transform: rotate(-11deg) skew(-10deg, 22deg) translate(4px, -30px)
    scale(1, 1);
  transform-origin: center;
  transform-box: fill-box;
  transition: 0.6s;
  animation: p4 0.9s ease-in-out 5.6s forwards;
  -webkit-animation: p4 0.9s ease-in-out 5.6s forwards;
}
@keyframes p4 {
  100% {
    transform: rotate(0) skew(0) translate(0) scale(1);
    transform-origin: center;
    transform-box: fill-box;
  }
}

#hero_section svg #p5 {
  transform: rotate(0deg) skew(0deg, 1deg) translate(-2px, 4px) scale(1.02, 1);
  transform-origin: center;
  transform-box: fill-box;
  transition: 0.5s;
  animation: p5 0.9s ease-in-out 5.8s forwards;
  -webkit-animation: p5 0.9s ease-in-out 5.8s forwards;
}
@keyframes p5 {
  100% {
    transform: rotate(0) skew(0) translate(0) scale(1);
    transform-origin: center;
    transform-box: fill-box;
  }
}

#hero_section svg #shaddow {
  transform-origin: center;
  transform-box: fill-box;
  transform: skewX(41deg) translate(119px, 68px) scale(0.9, 2);
  transition: 0.8s;
  animation: shaddow 1.5s ease 5s forwards;
  -webkit-animation: shaddow 1.5s ease 5s forwards;
}

@keyframes shaddow {
  100% {
    transform: skewX(-66deg) translate(-518px, -21px) scale(1.6, 2)
      rotate(10deg);
    transform-origin: center;
    transform-box: fill-box;
    fill: #fdfdfd;
    box-shadow: 0 0 5px 10px #555;
  }
}

#hero_section svg #bookS #head {
  transform-origin: center;
  transform-box: fill-box;
  transform: rotate3d(-1, 0, 1, -39deg) rotateY(176deg) translate(-14px, 4px);
  transition: 0.5s ease-in-out;
  animation: head 0.5s ease 8s forwards;
  -webkit-animation: head 0.5s ease 6s forwards;
}
@keyframes head {
  100% {
    transform: rotate3d(-1, -1, 1, 14deg) rotateY(0deg) translate(5px, -4px);
    transform-origin: center;
    transform-box: fill-box;
  }
}

/* animation */

/* about */
#about {
  padding: 5% 0;
}
#about .about_us {
  display: flex;
  align-items: center;
  height: 100%;
}
#about .about_txt h3 {
  font-size: 4em;
  font-weight: 700;
  color: var(--c3);
  margin-bottom: 15px;
}
#about .about_txt p {
  font-size: 1.8em;
  line-height: 1.6em;
  text-align: justify;
  color: var(--c4);
  width: 75%;
}
#about .about_vid {
  text-align: center;
  position: relative;
}
#about .about_vid video {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* #about .about_vid .play_btn {
  width: 85%;
  height: 40vh;
  background: #fab81e5b;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#about .about_vid .play_btn i {
  font-size: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--c3);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
} */
#usage {
  padding: 5% 0;
  background: var(--sect_bg);
}
#usage .main .u_card {
  text-align: center;
  color: var(--c3);
}
#usage .main .u_card .icon i {
  font-size: 5em;
}
#usage .main .u_card .icon .ra_icon1 {
  color: #f39200;
}
#usage .main .u_card .icon .ra_icon2 {
  color: #21b8fe;
}
#usage .main .u_card .icon .ra_icon3 {
  color: #eb5468;
}
#usage .main .u_card .txt h4 {
  font-size: 3em;
  font-weight: 600;
  margin: 15px 0;
}
#usage .main .u_card .txt p {
  font-size: 1.5em;
  font-weight: 500;
  text-align: justify;
  color: var(--c4);
}
#usage .main .ra {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#usage .main .ra img {
  width: 100%;
}

/* feature */

#features {
  padding: 2% 0 0;
  overflow: hidden;
}
#features .main .left_features .feature {
  text-align: right;
}

#features .title {
  margin-bottom: 30px;
}
#features .main .left_features {
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#features .main .feature {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
#features .main .left_features .feature:nth-child(1) {
  width: 100%;
  margin-right: 10px;
}
#features .main .left_features .feature:nth-child(2) {
  width: 85%;
}
#features .main .left_features .feature:nth-child(3) {
  width: 100%;
}
#features .main .right_features .feature:nth-child(1) {
  width: 94%;
  margin-left: auto;
}
#features .main .right_features .feature:nth-child(2) {
  width: 85%;
  margin-left: auto;
}
#features .main .right_features .feature:nth-child(3) {
  margin-left: 20px;
}
#features .main .left_features .feature .icon {
  width: 50px;
  margin-left: auto;
}
#features .main .feature .icon img {
  width: 100%;
}
#features .main .right_features .feature .icon {
  width: 50px;
  margin-right: auto;
}
#features .main .txt h3 {
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--c1);
}
#features .main .txt p {
  font-size: 1.5em;
  color: var(--c4);
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 5px !important;
}
#features .f_mockup img {
  width: 100%;
}

.f_mockup {
  position: relative;
}
.f_mockup::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 46% 53% 39% 46% / 46% 49% 48% 43%;
  left: -20%;
  background-image: linear-gradient(
    to right,
    #df6812,
    #e3700f,
    #e7770c,
    #eb7f08,
    #ef8704,
    #f28b12,
    #f4901c,
    #f79424,
    #fa9633,
    #fc9840,
    #fe9a4c,
    #ff9d57
  );
  opacity: 0.6;
  -webkit-border-radius: 46% 53% 39% 46% / 46% 49% 48% 43%;
  -moz-border-radius: 46% 53% 39% 46% / 46% 49% 48% 43%;
  -ms-border-radius: 46% 53% 39% 46% / 46% 49% 48% 43%;
  -o-border-radius: 46% 53% 39% 46% / 46% 49% 48% 43%;
  animation: mock 10s cubic-bezier(0, 0, 1, 1) infinite;
  -webkit-animation: mock 10s cubic-bezier(0, 0, 1, 1) infinite;
}
@keyframes mock {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* why-us */
#why_us {
  padding: 5% 0 2%;
  background: var(--c5);
}
#why_us .title {
  margin-bottom: 20px;
}
#why_us .title h2 {
  color: #fff;
}
#why_us .title h2 span {
  color: #fff;
}
/* Main heading for card's front cover */
#why_us .card-front__heading {
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

/* Main heading for inside page */
#why_us .inside-page__heading {
  padding-bottom: 1rem;
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
#why_us .inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

#why_us .inside-page__heading--city,
.card-front__text-view--city {
  color: var(--c1);
}

/* Front cover */

#why_us .card-front__tp {
  color: #fafbfa;
}

/* For pricing text on card front cover */
#why_us .card-front__text-price {
  font-size: 1.2rem;
  margin-top: -0.2rem;
}

/* Back cover */

/* For inside page's body text */
#why_us .inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

#why_us .card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -0.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

#why_us .inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: 0.7rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 90%;
  z-index: 10;
}

#why_us .inside-page__btn::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
  animation: none;
  -webkit-animation: none;
}

#why_us .inside-page__btn--city {
  border-color: var(--fuschia);
  color: var(--fuschia);
}

#why_us .inside-page__btn--city::before {
  background-color: var(--fuschia);
}

#why_us .inside-page__btn:hover {
  color: #fafbfa;
}

#why_us .inside-page__btn:hover::before {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

/* Layout Structure=========================================*/

#why_us .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Container to hold all cards in one place */
#why_us .card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
#why_us .card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
#why_us .card {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
#why_us .flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
#why_us .flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
#why_us .flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

#why_us .card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
#why_us .card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
#why_us .card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

#why_us .card-front__tp--city {
  background: linear-gradient(to bottom, #ff73b9, var(--fuschia));
}

/* Front card's bottom section */
#why_us .card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

#why_us .card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
#why_us .video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

#why_us .inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

#why_us .inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
#why_us .card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
#why_us .card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
#why_us .card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}
